[flake8]
htmltitle = ywh2bt: flake8 violations
max-line-length = 120
max-line-complexity = 15
max-cognitive-score = 20
docstring-style = google
max-imported-names = 60
max-imports = 30
max-import-from-members = 15
max-name-length = 75
max-module-members = 30
max-methods = 40
max-arguments = 12
max-attributes = 10
max-local-variables = 15
max-raises = 5
rst-roles =
    class,
    func,
    ref,
ignore =
    # docstring
    I,
    N804,
    S106,
    W503,
    W504,
    WPS110,
    WPS111,
    WPS204,
    WPS226,
    WPS237,
    WPS305,
    WPS306,
    WPS322,
    WPS338,
    WPS432,
    WPS601,
    WPS615,

exclude =
    ywh2bt/gui/resources.py
