[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
requests = "*"
python-gitlab = "*"
pyyaml = "*"
pygithub = "*"
jira = "*"
html2text = "*"
colorama = "*"
pyotp = "*"
coloredLogs = "*"
yeswehack = "*"
[requires]
python_version = "3.7"
